body {
    background-color: rgb(32, 30, 30);
    text-align: center;
    background-size: cover;
    background-repeat: space;
}
  
  
 h1, h2 {
    font-size: 30px;
    color: rgb(155, 43, 9);
  }
  
  canvas {
    background-color: #222;

  }
  

  
  /* #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53, 47, 47);
  } */
  

  
  /* #top-right {
    grid-area: top-right;
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;

  }
  
  #btm-right {
    grid-area: btm-right;
  } */

