body {
  text-align: center;
  background-color: rgb(16, 21, 26);
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
}


#gametitle {
  font-size: 50px;
  color: yellow;
  font-family: 'Dancing Script', cursive;
}

#scoreElement{
  font-size: 55px;
  color: yellow;
  font-family: 'Dancing Script', cursive;
}

#container {
  width: 1000px;
  height: 1000px;
}

#canvas {
  background-color: rgb(16, 21, 26);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


#scoreElement {
  display:none;
  font-family: 'Dancing Script', cursive;
}

#score {
  display:none;
  color: white;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Dancing Script', cursive;
}

#hidden {
  display: none;
  width: 100%;
  border: none;
  color: wheat;
  background-color: rgb(16, 21, 26);
  font-size: 100px;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
}

#instructions {
  color: white;
  font-family: 'Dancing Script', cursive;
}

#intro {
  color: white;
}

#instructions {
  color: rgb(216, 216, 42);
  font-family: 'Dancing Script', cursive;
  font-size: 64px;
}

#startButton {
  background-color: rgb(16, 21, 26);
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 64px;
  font-family: 'Dancing Script', cursive;
}

#winLogo,#lostLogo {
  display: none;
}