body {
  text-align: center;
  background-color: rgb(16, 21, 26);
}


#top-left {
  font-size: 50px;
  color: yellow;
}

#scoreElement{
  font-size: 25px;
  color: yellow;
}

#canvas {
  background-color: rgb(17, 16, 16);
}

#status{
  background-color: rgb(16, 21, 26);
  border: 2px black solid;
  font-size: 30px;
}

#scoreElement {
  display:none;
}

#score {
  display:none;
  color: white;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hidden {
  display: none;
  width: 100%;
  border: none;
  color: wheat;
  background-color: rgb(16, 21, 26);
  font-size: 100px;
  cursor: pointer;
}

#instructions {
  color: white;
}

#intro {
  color: white;
}

#instructions {
  color: rgb(216, 216, 42);

}

#startButton {
  background-color: rgb(16, 21, 26);
  border: none;
  color: white;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}